<h1> Create a new user </h1>
<!--
<form accept-charset="UTF-8" action="/users" method="post" data-turbo="false">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >

    <label for="username"> Username: </label>
    <input id="username" name="user[username]" type="text">
    
    <label for="email"> Email: </label>
    <input id="email" name="user[email]" type="email">
    
    <label for="password"> Password: </label>
    <input id="password" name="user[password]" type="password">
    
  <input type="submit" value="submit">
</form>
-->

<!--
<%= form_tag('/users', method: :post ) do %>
    <%= label_tag "username", "Username: " %>
    <%= text_field_tag "user[username]" %> <br>
    <%= label_tag "email", "Email: " %>
    <%= text_field_tag "user[email]" %><br>
    <%= label_tag "password", "Password: " %>
    <%= password_field_tag "user[password]" %><br>
    <%= submit_tag "submit" %>
<% end %>
-->

<%= form_with model: @user do |form| %>
    <div>
        <%= form.label :username %>
        <%= form.text_field :username %>
    </div>
    <div>
        <%= form.label :email %>
        <%= form.email_field :email, placeholder: "example@example.com" %>
    </div>
    <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
    </div>
    <%= form.submit %>
<% end %>
